pandas==1.5.1
requests==2.28.1
pydantic==2.2.1
pydantic-settings==2.0.1
psycopg2==2.9.5
sqlalchemy==2.0.0
fastapi==0.103.0
uvicorn>=0.12.0,<0.23.0
cron-converter==1.0.1
Jinja2==3.1.2
celery==5.3.4
celery[redis]
# sqlalchemy-redshift==0.8.14
redshift-connector==2.0.917
orjson==3.9.10 -

pytest==7.2.0
pytest-mock==3.10.0
coverage==7.0.1
pytest-asyncio==0.20.3
httpx==0.24.1
