pandas==1.5.1
requests==2.28.1
pydantic==2.2.1
pydantic-settings==2.0.1
psycopg2==2.9.5
sqlalchemy==2.0.0

cron-converter==1.0.1
Jinja2==3.1.2
TA-Lib==0.4.21
celery==5.3.4
celery[redis]
flower==2.0.1
watchdog==3.0.0